<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Simple Search</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body style="margin-top: 5%; margin-bottom: 20%">
    	<div class="col-md-12">
    		<h1 style="text-align: center;">Simple Movie Database</h1>
    	</div> 
    	<div class="col-md-12" style="margin-top: 20px;">
    		<div class="col-md-6" style="margin: 0 auto">
    			<form action="{{ url_for('search_page')}}">
		    		<div class="input-group">
		    			<input class="form-control" placeholder="Input Movie Name" type="text" name="search">
		    			<div class="input-group-append">
		    				<button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>
		    			</div>
		    		</div>
	    		</form>
	    	</div>
    	</div>
    	<div class="col-md-12" style="margin-top: 100% auto; position: fixed; bottom: 0; background-color: #efefef">
    		<hr>
    		<div class="col-md-6 text-muted" style="margin: 0 auto; text-align: center; margin-bottom: 20px;">
    			Created by Kelompokmu
    		</div>
    	</div>
    </body>
</html>